<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>upload</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form action="post">
    <ion-item>
      <label for="foto">
        <img id="icon" src="https://ejercicio16.firebaseapp.com/assets/camara.svg">
      </label>
      <input id="foto" type="file" name="foto" accept="image/*" capture="camera" />
    </ion-item>
    <ion-item>
      <ion-label position="floating">Marca</ion-label>
      <ion-input type="text" name="marca" id="marca" [(ngModel)]="marca"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Modelo</ion-label>
      <ion-input type="text" name="modelo" [(ngModel)]="modelo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Año</ion-label>
      <ion-input type="number" name="year" [(ngModel)]="year"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input type="number" name="precio" [(ngModel)]="precio"></ion-input>
    </ion-item>
    <ion-button type="submit" (click)="guardarMoto()" expand="block">
      Guardar
    </ion-button>
  </form>
</ion-content>
