<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="{{moto.foto}}" />
    <ion-card-header>
      <ion-card-subtitle>{{moto.marca}}</ion-card-subtitle>
      <ion-card-title>{{moto.modelo}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
      Wisconsin Territory in 1836.
      <p>{{moto.year}}</p>
      <p><b>{{moto.precio}}</b></p>
    </ion-card-content>
    <ion-button (click)="askDelete(moto.id)" color="warning">
      <ion-icon slot="start" name="trash-outline"></ion-icon>
      Borrar moto
    </ion-button>
  </ion-card>
</ion-content>
