<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>
      Conversor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <p>Esta es mi primera calculadora!!!</p>
    <p>Introduce un valor en euros para calcular la converión en dólares</p>
    <ion-input type="number" placeholder="Cantidad" class="top-15" inputmode="numeric" id="inputCantidad" min="1"></ion-input>
    <ion-button (click)="conversor()" expand="block">
      Convertir
    </ion-button>
  </div>
</ion-content>
