#container {
  text-align: center;

  padding: 15px;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #0f0f0f;

  margin-bottom: 5px;
}

#container a {
  text-decoration: none;
}

ion-input {
  --padding-top: 25px;
  border-bottom: 1px solid #505050;
}

ion-button {
  margin-top: 30px;
}