<ion-header [translucent]="true" id="menu">
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-menu-button color="primary" menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Motos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu menuId="main-menu" contentId="menu">
  <ion-header>
    <ion-toolbar>
      <ion-title  color="primary" class="ion-text-center">Filtros</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle>
        <ion-item (click)="getMotos()">
          <ion-icon  color="primary" name="albums-outline" slot="start"></ion-icon>
          <ion-label  color="primary">Todas</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item (click)="getFilteredMotos('ducati')">
          <img src="https://ejercicio16.firebaseapp.com/assets/ducati.png" alt="" slot="start" width="24px" height="24px">
          <ion-label  color="primary">Ducati</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item (click)="getFilteredMotos('yamaha')">
          <img src="https://ejercicio16.firebaseapp.com/assets/yamaha.png" alt="" slot="start" width="24px" height="24px">
          <ion-label  color="primary">Yamaha</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item (click)="getFilteredMotos('honda')">
          <img src="https://ejercicio16.firebaseapp.com/assets/honda.png" alt="" slot="start" width="24px" height="24px">
          <ion-label  color="primary">Honda</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let moto of motos">
      <ion-row style="width: 100%;" (click)="showDetails(moto.id)">
        <ion-col size="3" class="ion-text-center">
          <img src="{{moto.foto}}" alt="" height="40px">
        </ion-col>
        <ion-col size="9">
          <ion-label>{{moto.modelo}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
  <ion-button [routerLink]="['/upload']" slot="fixed" class="floating-button">
    <ion-icon slot="icon-only" name="add"></ion-icon>
  </ion-button>
</ion-content>
